<!DOCTYPE html>
<html>
<head>
  <title>OmniauthBoilerplate</title>
  <%= stylesheet_link_tag    "omniauth_boilerplate/application", media: "all" %>
  <%= javascript_include_tag "omniauth_boilerplate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
